black==24.10.0
click==8.1.7
colorama==0.4.6
coverage==7.6.7
fastapi==0.115.5
iniconfig==2.0.0
isort==5.13.2
mypy-extensions==1.0.0
mypy==1.13.0
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pytest-cov==6.0.0
pytest==8.3.3
ruff==0.7.4
typos==1.27.3
